Source: udplog
Section: net
Priority: optional
Maintainer: Tim Starling <tstarling@wikimedia.org>
Build-Depends: debhelper-compat (= 12), dh-exec, g++, libboost-dev, libboost-program-options-dev, libboost-serialization-dev, libboost-system-dev
Standards-Version: 3.7.2

Package: udplog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utilities for UDP logging
 udp2log is a tool that receives logs via UDP and sends them to a processing,
 script that can, for example, write them to a specific file based on a
 specific attribute in the log message.
